.chat-page {
  display: flex;
  height: calc(-56px + 100vh);
  .resizable-panel-group {
    height: 100%;
    width: 100%;
    display: flex;
    .resize-handle {
      border: 1px solid #e9ecef;
    }
  }
}
