.chat-page {
  display: flex;
  height: calc(-56px + 100vh);
  .chat-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-block: var(--ant-padding-lg);
    gap: 16px;
    max-width: 1300px;
    margin: 0 auto;
    .chatList {
      flex: 1;
      overflow: auto;
      padding: 0 145px;
    }
    // sender 样式
    .sender {
      width: 100%;
      margin: 0 auto;
      max-width: calc(100% - 290px);
    }
  }
}
