.layout {
  min-width: 750px;
  width: 100%;
  height: 98vh;
  border-radius: 8px;
  display: flex;
  // background: var(--background-color);
  font-family:
    AlibabaPuHuiTi,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;

  .ant-prompts {
    color: var(--text-color);
  }
}

.md-container {
  overflow-wrap: break-word;
  word-wrap: break-word;

  pre code {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    white-space: pre;
  }
}

.conversations {
  padding: 0 12px;
  flex: 1;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}
