@import 'tailwindcss';
.layout {
  min-width: 750px;
  width: 100%;
  height: 98vh;
  border-radius: 8px;
  display: flex;
  font-family:
    AlibabaPuHuiTi,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  /* background: var(--background-color); */
}

::-webkit-scrollbar {
  display: none;
}
