.sidebar {
  height: 100%;
  background: #ffffff;
  border-left: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: left;
  flex: 1;

  .sidebar-tabs {
    height: 100%;
    width: 100%;
    padding-left: 16px;
    .ant-tabs-content {
      height: calc(100% - 46px); // 减去tab头的高度
      overflow: hidden;
    }

    .ant-tabs-tabpane {
      height: 100%;
      overflow-y: auto;
      padding: 16px;
    }
    :global(.ant-tabs-content-holder) {
      flex: 1;
      overflow: auto;
    }
  }
}
